<footer class="bg-light mt-5 border-top py-5 text-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <p class="fw-bold text-info">Ügyfélszolgálat és átvételi pont</p>
                <p class="my-1 fw-bold">Webshop Kft.</p>
                <p class="my-1">1111 Budapest, Fő utca 23.</p>
                <p class="my-1">info@webshop.hu</p>
                <p class="my-1">+ 36 20 222 3333</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <p class="fw-bold text-info">Információ</p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Szállítási feltételek</a></p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Fizetési feltételek</a></p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Biztonságos vásárlás</a></p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Vásárlási feltételek</a></p>
            </div>
            <div class="col-md-4">
                <p class="fw-bold text-info">Népszerű kategóriák</p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Digitális fényképező</a></p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Mobiltelefon</a></p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Okosóra, aktivitásmérő</a></p>
                <p class="my-1"><a href="#" class="text-decoration-none text-secondary">Hűtőszekrény</a></p>
            </div>
        </div>
    </div>
</footer>