<div class="row mt-5">
    
    <div class="col-sm-4 mb-4 mb-sm-0" *ngFor="let prod of products">
        <div class="card h-100">
            <a href="#"><img src="http://127.0.0.1:8000/storage/products/{{prod.image}}" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h3 class="h6 mb-3 card-title lh-base">{{prod.title}}<br>{{prod.description}}</h3>
                <div class="row align-items-center">
                    <div class="order-2 order-lg-1 col-lg-6">
                        <a href="#" class="btn btn-warning">Megnézem</a>
                    </div>
                    <div class="order-1 order-lg-2 col-lg-6 fw-bold text-danger text-start text-lg-end mb-3 mb-lg-0">
                        {{prod.price}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>